  .menu{
    background-color: black;
    color:white
  }

  body{
    background-image: url(img/FondoInicio.png);
    background-size: 100%;
    background-position-y: 40px;
}

  #tituloprincipal {
    display: flex;
    align-items: center;
  }
  
  #tituloprincipal h1 {
    margin: 0;
    margin-right: auto;
  }
  
  .menu {
    display: flex;
    float:inline-end;
  }
  
  .menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu-items li {
    margin-left: 10px;
  }
  
  .menu-items a {
    color: white;
    text-decoration: none;
  }

  #menuu {
    margin-left: auto;
  }
  #h2{
    color:white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #c70101;
  }
  #h2 a{

    list-style-type: none;
    margin: auto;
    padding: 0;
    display: flex;
    float: right;
    margin: auto;
    font-size: 16px;
    margin-top: 3px;
    color: white;
    text-decoration: none;
  }
    #h2 a:hover{
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'calibri';
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



#section b{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-top: 30px;
    text-align: left;
    margin-left: 20px;
}
#section{
    margin-left: 100px;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.85);
    width: 500px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
}

#section p{
    text-align: left;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
